@import "tailwindcss";

/* 
  Theme CSS
*/

@theme {
  --color-primary: #7C3AED;
  --color-primary-hover: #6D28D9;
  --color-bg-base: #0D0D1A;
  --color-bg-surface: #1A1A2E;
  --color-bg-surface-elevated: #2A2A40;
  
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
